<footer>
    <nav>
        <ul class="contacts">
            <li><a class="footer-link" href="https://github.com/matcbv" title="GitHub" target="_blank">GitHub</a></li>
            <li><a class="footer-link" href="https://www.linkedin.com/in/matheus-cerqueira-baiao-victor" title="LinkedIn" target="_blank">LinkedIn</a></li>
            <li><a class="footer-link" href="" title="Email" target="_blank">matheuscbv23@gmail.com</a></li>
        </ul>
    </nav>
    <p title="Direitos Autorais">Copyright (c) 2024 Matheus Cerqueira</p>
</footer>