<%- include('./includes/head') %>
<body>
    <div class="grid-div">
        <header>
            <ul class="home-list">
                <li><a class="header-link" href="/">Início</a></li>
            </ul>
        </header>
        <main class="error-main">
            <div class="error-div">
                <h1 class="error-title">Erro 404!</h1>
                <p>Página não encontrada.</p>
            </div>
        </main>
        <%- include('./includes/footer') %>
    </div>
    <script src="/js/bundle.js"></script>
</body>
</html>